<html>
    <style>
        body {
            background: #e2b09f; 
            background: -webkit-linear-gradient(right, #e2b09f, #e2b09f);
            background: -moz-linear-gradient(right, #e2b09f, #e2b09f);
            background: -o-linear-gradient(right, #e2b09f, #e2b09f);
            background: linear-gradient(to left, #e2b09f, #e2b09f);
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;      
            }
    </style>
    <body>
        <title> Salando - Your favorite shop! </title>

    </body>
    <script>
    </script>
</html>